.insure {
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .container {
    width: 900px;
    margin: 0 auto;
  }
  .content {
    margin-top: 36px;
    padding: 25px 0;
    .side-info {
      width: 320px;
      .title {
        font-size: 18px;
        color: #141B5A;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .cash-insure {
        margin-bottom: 20px;
        .cash-list {
          border-radius: 6px;
          padding: 15px;
          background: #fff;
          box-shadow:0px 1px 24px 0px rgba(176,192,237,0.42);
          /deep/.cash-btn-group {
            text-align: center;
            margin-top: 10px;
            .el-button {
              padding: 8px 20px;
              line-height: 1.2;
              &:last-child {
                margin-left: 30px;
              }
            }
          }
        }
      }
    }
   
    .right-introduce {
      padding-left: 44px;
      width: 580px;
      padding-top: 90px;
      .ri-item {
        margin-bottom: 30px;
        .title {
          color: #6870B4;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .desc {
          font-size: 13px;
          line-height: 26px;
          color: #7D819F;
          margin-bottom: 15px;
        }
      }
    }
  }
  
  /deep/.i-modal {
    .el-dialog {
      border-radius: 20px;
    }
    .im-head {
      font-size: 20px;
      color: #143862;
      font-weight: bold;
    }
    .el-dialog__body {
      padding-top: 10px;
    }
    .im-item {
      border-top: 1px solid rgb(247, 248, 250);
      padding: 16px 0;
      .im-top-amount {
        margin-bottom: 15px;
        padding-right: 10px;
        font-size: 14px;
        color: #75859C;
        font-weight: 600;
      }
      .im-label {
        font-size: 18px;
        color: #333;
      }
      .token-icon {
        position: absolute;
        width: 24px;
        top: 8px;
        left: 10px;
        height: 24px;
        z-index: 9;
        border-radius: 50%;
        &.token-icon-block {
          background: red;
          width: 20px;
          height: 20px;
          top: 10px;
        }
      }
      .im-insure-input {
        margin-right: 10px;
        color: #606266;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 22px;
        appearance: textfield;
        width: 0;
        text-align: right;
        &::-webkit-input-placeholder { 
          color: #ADB4BE; 
          font-size: 18px;
        } 
      }
      .im-dai-label {
        font-size: 22px;
      }
      /deep/.im-select {
        width: 160px;
        .el-input__inner {
          background: rgba(243,245,249,1);
          border: none;
          font-size: 22px;
          font-weight: 500;
          padding-left: 40px;
          color: #17316B;
          &::-webkit-input-placeholder { 
            color: #17316B; 
            font-size: 18px;
          } 
          &:hover {
            background-color: rgb(247, 248, 250);
          }
        }
        .el-select__caret {
          color: #17316B;
          font-size: 18px;
          font-weight: bold;
        }
      } 
      .im-deposit-amount {
        font-size: 22px;
        margin-right: 10px;
      }
    }
    .im-ratio {
      margin-bottom: 15px;
      .im-ratio-item {
        text-align: center;
        color: #409EFF;
        font-weight: 600;
        padding: 8px 0;
        &:first-child {
          margin-right: 50px;
        }
      }
    }
    >div {
      margin-bottom: 15px;
    }
    .save-btn {
      text-align: center;
      width: 100%;
      padding: 16px 0;
      font-size: 18px;
      margin-top: 15px;
      &.is-disabled {
        color: #BBBBBB;
        border-color: rgba(240,240,240,1);
        background:rgba(240,240,240,1);
      }
    }
    /deep/.ratio-input {
      .el-input__inner {
        padding-right: 0;
      }
    }
  }
}