.home {
  .head {
    padding: 0 100px;
    height: 60px;
    line-height: 60px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    .logo {
      padding: 10px 0;
      img {
        display: block;
        width: 40px;
      }
    }
    .menu {
      .m-item {
        cursor: pointer;
        color: #fff;
        padding: 0 15px;
        display: inline-block;
        vertical-align: middle;
        .git-icon {
          width: 20px;
          vertical-align: middle;
        }
      }
    }
  }
  .nav {
    height: 600px;
    width: 100%;
    position: relative;
    top: -60px;
    background: url("../../imgs/nav-bg.png") no-repeat;
    background-size: cover;
    background-position: center center;
    display: table;
    .nav-outer {
      display: table-cell;
      vertical-align: middle;
    }
    
    .desc {
      padding: 0 100px;
      text-align: left;
      color: #fff;
      font-size: 22px;
      h3 {
        font-size: 68px;
        font-weight: bold;
      }
    }
    .menu {
      padding: 0 100px;
      text-align: left;
      margin-top: 50px;
      button {
        height: 40px;
        line-height: 40px;
        width: 120px;
        text-align: center;
        background: #fff;
        color: #52d3aa;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 30px;
        transition: box-shadow 0.25s ease-in-out;
        &:hover {
          box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
  .content {
    .advantage {
      width: 900px;
      margin: 0 auto;
      padding: 100px 0;
      .feature-center {
        float: left;
        width: 33.333%;
        padding: 0 20px;
        text-align: center;
        color: #828282;
        .iconfont {
          font-size: 40px;
          margin-bottom: 40px;
          display: inline-block;
          color: #666;
        }
        h3 {
          font-size: 24px;
          margin-bottom: 20px;
          font-weight: 400;
          color: #333;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .introduce {
      margin-bottom: 50px;
      &.bg {
        background: #f3f3f3;
      }
      .i_outer {
        width: 900px;
        margin: 0 auto;
        padding: 50px 0;
        .i_item {
          display: inline-block;
          width: 50%;
          vertical-align: top;
          .title {
            font-size: 22px;
            color: #333;
            margin-bottom: 30px;
          }
          .desc {
            text-indent: 26px;
            font-size: 14px;
            color: #666;
            line-height: 2;
          }
          img {
            width: 100%;
          }
        }
        .i_desc {
          padding-right: 30px;
        }
        .i_desc1 {
          padding-left: 30px;
        }
      }
    }
  }
  .footer {
    border-top: 1px solid rgb(237, 238, 242);
    padding: 30px 120px;
    color: #fff;
    background: #000;
    .title {
      font-size: 18px;
      color: #90929C;
    }
    .email {
      font-size: 13px;
      margin-top: 20px;
      color: #606166;
    }
    .fm-list {
      font-size: 13px;
      color: #606166;
      li {
        line-height: 40px;
      }
    }
  }
}